.form-table th {display: none;}
.form-table td{padding:0px !important}
.codeS{vertical-align: middle;position: relative;top: 7px;font-size: 14px;}
pre{padding:2px 6px 13px 8px !important;}
.hideControl{display:none;}
.lead-lg-12, .lead-control{width:100%;float:left;}

 em#nurture_nav_address1_err , em#nurture_nav_address2_err , em#nurture_nav_zip_err , em#nurture_bar_text_error {
    font-size: 14px;
    color: red;
    font-style: normal;
	    float: left;
    width: 100%;
}
 